html {
  background: #FFF url(/images/BG2.jpg) top left repeat;
  height: 100%;
}
nav a .page-header.brand-logo{
  color: #c0dabe;
}

body{
  background: #FFF url(/images/BG2.jpg) top left repeat;
  height: 100%;
}
li.active.glow-font a{
  color: #c0dabe !important;
}
a.glow-font{
    color: #c0dabe !important;
}
li a{
    text-shadow: 0;
    font-family: monospace;
    height: 64px;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination li a.mono{
    text-shadow: 0;
    font-family: monospace;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toaster{

    opacity: 0.9;
    background-color: darkslategrey;
}
div.card-panel.toaster#toaster{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -moz-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
    background-image: -webkit-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
    background-image: -o-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
    background-image: linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
    opacity: 0.0.9;
    color: #2d81bc;
    display: none;
    text-shadow: 0;
    font-family: monospace;
    line-height: 19px;
    text-align: center;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.mono {
    text-shadow: 0;
    color: aliceblue;
    font-family: monospace;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.mobile{
    color: #fff !important;
}

.Pointer{
  cursor: pointer;
}
.signin {
  margin: auto;
  max-width: 65%;
}
.page-header{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: -o-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #010910;
  opacity: 0.9;
  border-radius: 3px;
  color: #c0dabe;

}
.page-header-trans{
    background-color: transparent;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}
.createBtn{

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #323232 0%, #292929 52%, #191919 52%, #2b2b2b 100%);
  background-image: -webkit-linear-gradient(top, #323232 0%, #292929 52%, #191919 52%, #2b2b2b 100%);
  background-image: -o-linear-gradient(top, #323232 0%, #292929 52%, #191919 52%, #2b2b2b 100%);
  background-image: linear-gradient(top, #323232 0%, #292929 52%, #191919 52%, #2b2b2b 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #010910;

  color: #c0dabe;
  text-shadow: 0;
  font-family: monospace;
  height: 32px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.createBtn:hover{
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1), 0 0 0 1000px rgba(131, 145, 129, 0.08) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1), 0 0 0 1000px rgba(131, 145, 129, 0.08) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1), 0 0 0 1000px rgba(131, 145, 129, 0.08) inset;
}
.createBtn:active{
  -webkit-box-shadow: 0 0 3px 2px #1a1a1a inset;
  -moz-box-shadow: 0 0 3px 2px #1a1a1a inset;
  box-shadow: 0 0 3px 2px #1a1a1a inset;
  border: 1px solid #c0dabe;
}
body{
  background-color: #333333;
}
.indexBtn{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: -o-linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  background-image: linear-gradient(top, #2D2D2D 0%, #242424 52%, #161616 52%, #1e1e1e 100%);
  
  color: #c0dabe;
  text-shadow: 0;
  font-family: monospace;
  height: 32px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gadgetsContainer{
    width: 1280px;
    height: 720px;
    background: #111;
    opacity: 0.85;
    vertical-align: middle;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    overflow-x: hidden;
    border: 5px inset #000;
}

.input-field label.active#label{
    font-size: 1.0rem;
    color: #c0dabe;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%)
}

.navicon {
    /* This is all that's required */
    position: relative;
    /* This just makes it look like a button for the demo */
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    background: black;
    border-radius: 4px;
    padding: .5em .75em .5em 2em;
    display: inline-block;
}
.navicon:before {
    position: absolute;
    top: 50%;
    left: .75em;
    width: .8em;
    height: .8em;
    margin-top: -.4em;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;

    /* white navicon */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);

    /* black navicon */
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA5ubmSUUG+gAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);*/
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}